/* stylelint-disable */
.simple_space {
  padding-top: 90px;
  padding-bottom: 40px;
  background-color: $bg-clients;
}

article {
  margin-bottom: 20px;
  background-color: $bg-clients!important;
}

blockquote {
  background-color: $bg-clients;
  padding: 5px;
}

input {
  outline: none;

  &:focus {
    box-shadow: none !important;
  }
}

.search-form {
  margin-bottom: 20px;
}

.header {
  &__menu--black {
    a {
      color: $black;
    }
  }
}

.nav-links {
  a {
    color: $black;
  }
}