/* stylelint-disable */
.hero_block {
  background-color: $purple;
  height: 100vh;
  position: relative;
  perspective: 50px;
  text-align: center;
  overflow: hidden;

  .page__container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__title {
    z-index: 10;
    text-transform: uppercase;
    position: relative;
    transition: 1s all;
    margin-bottom: 120px;

    .title {
      font-family: $arch-black;
      font-style: normal;
      font-weight: normal;
      font-size: 170px;
      line-height: 130px;
      text-align: center;
      color: $h1-color;

      @include media-breakpoint-down(lg) {
        font-size: 137px;
      }

      @include media-breakpoint-down(md) {
        font-size: 94px;
      }

      @include media-breakpoint-down(sm) {
        font-size: 50px;
      }
    }
    p {
      font-family: $arch;
      font-style: normal;
      font-weight: bold;
      font-size: 12px;
      color: $gold;
    }

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -10%);

      @include media-breakpoint-down(md) {
        max-width: 100%;
      }
    }
  }
  .bg-parallax {
    img {
      width: 75%;

      @include media-breakpoint-down(sm) {
        width: 60%;
      }
    }
    &__item {
      position: absolute;

      @include media-breakpoint-down(sm) {
        &:last-child {
          display: none;
        }

        &:nth-child(3) {
          right: 20%;
          top: 25%;
        }
      }
    }

    .item1 {
      bottom: 10%;
      right: 25%;
      animation: 5s parallax-bg infinite alternate-reverse;
    }

    .item2 {
      top: 0;
      right: 0;
      animation: 6s parallax-bg infinite alternate;
    }

    .item3 {
      bottom: 15%;
      left: 30%;
      animation: 4s parallax-bg infinite alternate-reverse;
    }

    .item4 {
      top: 10%;
      right: 40%;
      animation: 6s parallax-bg infinite alternate;
    }

    .item5 {
      top: 10%;
      right: 5%;
      animation: 6s parallax-bg infinite alternate-reverse;
    }

    .item6 {
      bottom: 10%;
      right: 5%;
      animation: 3s parallax-bg infinite alternate;
    }

    .item7 {
      top: 2%;
      left: 10%;
      z-index: 10;
      animation: 6s parallax-bg infinite alternate;
    }

    .item8 {
      bottom: 1%;
      left: 3%;
      animation: 5s parallax-bg infinite alternate;
    }

    .item9 {
      bottom: 20%;
      right: 10%;
      animation: 6s parallax-bg infinite alternate-reverse;
    }
  }

  &__counter_body {
    z-index: 11;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, -50%);

    .text {
      font-family: $arch;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      color: $color-clients;
    }

    .counter {
      font-family: $arch;
      font-style: normal;
      font-weight: bold;
      font-size: 30px;
      line-height: 33px;
      text-transform: uppercase;
      color: $white;
    }

    .viewers {
      font-family: $arch;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 15px;
      text-transform: uppercase;
      color: $white;
      margin: 0;
    }
  }
}

