/* stylelint-disable */
.we_do_block {
  background-color: $purple;
  padding-bottom: 50px;
  padding-top: 10px;
  @include media-breakpoint-down(md) {
    padding-top: 50px;
    padding-bottom: 50px;
    height: auto;
  }

  .header {
    position: relative;
    padding: 0;
  }

  &__title {
    p {
      font-family: $arch-black;
      font-style: normal;
      font-weight: normal;
      font-size: 40px;
      line-height: 40px;
      color: $white;
      text-transform: uppercase;
    }
  }

  &__slider-section {
    text-align: center;
    text-align: -webkit-center;
    display: flex;
    justify-content: space-between;

    @include media-breakpoint-down(md) {
      flex-direction: column;
    }

    &__body {
      width: 50%;

      @include media-breakpoint-down(md) {
        flex: 0 0 100%;
        max-width: 100%;
        width: 100%;
      }

      .slick-slide img {
        display: block;
        text-align: center;
        max-width: 100%;
        z-index: 2;
      }

      .display-slide {
        position: relative;

        .bg-parallax {
          img {
            width: 100%;
            z-index: 1;
          }

          &__item {
            position: absolute;
          }

          .item1 {
            bottom: 50%;
            left: 50%;
            transition: 1s all;
            animation: 2.5s parallax-bg infinite alternate;
          }

          .item2 {
            bottom: 50%;
            right: 50%;
            transition: 1s all;
            animation: 3s parallax-bg infinite alternate-reverse;
          }

          .item3 {
            top: 50%;
            right: 50%;
            transition: 1s all;
            animation: 2.5s parallax-bg infinite alternate-reverse;
          }
        }

        .bg-0 {
          .item1 {
            bottom: 10%;
            left: 10%;
          }

          .item2 {
            bottom: 15%;
            right: 10%;
          }

          .item3 {
            top: 0;
            right: 20%;
          }
        }

        .text {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          text-align: center;

          .title {
            font-family: $arch;
            font-style: normal;
            font-weight: bold;
            font-size: 36px;
            color: $white;

            @include media-breakpoint-down(sm) {
              font-size: 24px;
            }
          }

          .sub-title {
            text-decoration: none;
            margin-top: 10px;
            font-family: $arch-black;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            letter-spacing: 0.4px;
            text-transform: uppercase;
            color: $red;
            &:focus {
              outline: none;
            }
          }
        }
      }
    }

    &__tabs {
      flex: 0 0 50%;
      max-width: 50%;
      align-self: center;

      @include media-breakpoint-down(md) {
        flex: 0 0 100%;
        max-width: 100%;
      }

      .line {
        display: flex;
        flex-flow: row wrap;
        align-content: space-between;
        justify-content: space-between;
        .tab {
          margin: 10px auto;
          border-radius: 15px;
          background-color: $bg-tabs;
          width: 200px;
          height: 200px;
          position: relative;
          transition: 500ms all;
          overflow: hidden;
          &:nth-child(3n) {
            page-break-after: always;
          }

          @include media-breakpoint-down(xl) {
            height: 160px;
            width: 160px;
          }

          @include media-breakpoint-down(lg) {
            height: 160px;
            width: 180px;
          }

          @include media-breakpoint-down(sm) {
            height: 68px;
            width: 68px;
          }

          &:hover {
            background-color: $red;

            .default {
              opacity: 0;
            }

            .hover {
              opacity: 1;
            }
          }

          &:active, &focus {
            background-color: $red;

            .default {
              opacity: 0;
            }

            .hover {
              opacity: 1;
            }
          }

          .default {
            transition: 300ms opacity;
            opacity: 1;
          }

          .hover {
            transition: 300ms opacity;
            opacity: 0;
            top: 15px;

            @include media-breakpoint-down(sm) {
              top: 5px;
            }
          }

          img {
            max-width: 100%;
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            text-align: center;
            object-position: center;
            object-fit: fill;
            margin: auto;

            @include media-breakpoint-down(md) {
              max-height: 100%;
              text-align: center;
              vertical-align: middle;
              display: block;
              width: auto;
            }
          }
        }

        .active-tab {
          background-color: $red;

          .default {
            opacity: 0;
          }

          .hover {
            opacity: 1;
          }
        }
      }
    }
  }
}
